/* GENERICS */

section{
    margin: 10rem 0;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.3rem;
    font-weight: bold;
}


/* HEADER */
.header-top{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;

    /* debug */
    /* background-color: #add8e6; */
}

.logo{
    width: 10rem;
    

    /* debug */
    /* background-color: red;
    border: 1px solid black; */

}

.header-nav{
    display: flex;
    align-items: center;
    height: 2.5rem;
    
    /* debug */
    /* width: 25rem; */
    /* background-color: #daa520;
    border: 2px dashed black; */
}



.jumbotron{
    display: flex;
    align-items: flex-end;
    
    /* debug */
    
    background-color: #b4d0e7;

}

.jumbo-content{
    display: flex;
    flex-direction: column;

    /* debug */
    width: 100%;
    /* background-color: #daa520;
    border: 2px dashed black; */
    

}

.jumbo-title{
    font-size: 4.7rem;
    font-weight: bolder;
    margin-top: 3rem;

    /* debug */
    /* background-color: #20b2aa; */
    
}

.jumbo-main-content{
    display: flex;
    /* height: 100%; */
    
    /* debug */
    /* background-color: red; */
}

.jumbo-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;

    font-size: 0.95rem;
    width: 27%;

    /* debug */
    /* background-color: salmon;
    border: 2px dashed black; */
}
.jumbo-img{
    width: 73%;
}

.jumbo-img > * {
    position:relative;
    top: 5rem;
}

/* MAIN  */

.billing,
.operations{
    
    /* debug */
    /* height: 120rem;
    width: 100%;
    background-color: #daa520;
    border: 2px dashed black; */
}

/* section 1 */

.billing-row{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

}

.billing-col{
    width: calc(100% / 3 - 1.5rem);

    border: 1px solid lightgray;
    /* debug */
    /* background-color: chartreuse; */
}

.col-entity{
    width: 100%;
    font-size: 0.95rem;
}

.cost > * {
    margin: 0.4rem 0;
}

.benefits > *{
    margin: 1.5rem 0;
}

.col-entity.title,
.enterprise-title{
    text-align: center;
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.col-entity.topcard{
    color: red;
}

.col-entity.topcard > *, 
.col-entity.bottomcard  > *,
.enterprise-content  > *{
    padding: 1rem;
}

.enterprise-card{
    border: 1px solid lightgray;
    /* debug */
    /* background-color: chartreuse; */
}



.contact-text{
    padding: 3rem;
}
.contact-text > *{
    margin: 0.5rem 0;
}


/* operations section */
.operations-row{
    display: flex;
    flex-wrap: wrap;
}

.op-col{
    width: calc(100% / 3);
    margin-bottom: 2rem;
}



















.sponsors{
    display: flex;
    
    /* debug */
    height: 60rem;
    background-color: #b4d0e7;
}

.square{
    
    /* debug */
    height: 37.5rem;
    width: 37.5rem;
    background-color: #daa520;
    border: 2px dashed black;

}

.faq-container{
    display: flex;
    height: 40rem;

    align-items: center;


}

.faq-content{
    height: 30rem;

    width: 100%;

    /* debug */
    background-color: #daa520;
    border: 2px dashed black;
}

/* FOOTER */

.main-footer{
    height: 35rem;
    
    
    

    /* debug */
    background-color: #000000;

}

.footer-container{
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-footer{
    display: flex;
    margin-top: 3rem;
    height: 20rem;
    width: 100%;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.language{
    width: 10rem;
    height: 100px;

    background-color: #daa520;
    border: 2px dashed white;
}